html, body, div, span, applet, object,
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

body {
    font-size: 62.5%;
    background-image: url(file:///Users/austinlittlefield/Downloads/pexels-leah-kelley-325521.jpg);
    background-size: cover;
    color: white;
}

h1 {
    font-size: 2.5rem;
    
}

h2{
    font-size: 2rem;
    margin: 0 auto;

}

p {
    font-size: 1.5rem;
    padding: 1%;
    margin: 1%;
}
b {
    font-size: 1.2rem;
}

header .title {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-top: solid White  2px ;
   border-bottom: solid White   2px;
   margin: 20% 20% 2% 20%;

}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;


}

a {
 font-size: 1.2rem;
 padding: 1%;
 border: solid white 2px;
 border-radius: 25px;
 text-decoration: none;
 color: white;

}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3%;
    width: 25%;

}

input[type=text], input[type=password] {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    
    
}

button {
    background-color: #3D4449;
    height: 35px;
    color: white;


}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

@media only screen and (max-width: 600px) {
    header .title {
        display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       border-top: solid White  2px ;
       border-bottom: solid White   2px;
       margin: 20% 20% 2% 20%;
    
    }
    
    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
    
    
    

}